@import url(variables.css);

.parent {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;


}

.baby {
    height: 10rem;
    width: auto;
    position: relative;
    background-color: white;
    margin: 15px;
}

img {
    height: 10rem;
    width: auto;

}