@import url(variables.css);

.headerimg {
    height: auto;
    background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?cs=srgb&dl=pexels-pixabay-260922.jpg&fm=jpg);
}

.header { 
    background-repeat: no-repeat;
    height: auto;
    padding: 7rem;
    background-position: initial;
    background-size: cover;
    text-align: center;
    font-size: large;
}

.parent {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
}

.baby {
    width: 300px;
    height: auto;
    position: relative;
    margin: 15px;
    padding: 15px;
}

img {
    height: 10rem;
    width: auto;
    border-radius: 10px;
    max-width: 100%;
    margin: 1%;
}

/* #change-theme {
    background-color: ;
}

#all {
    background-color: ;
}

#breakfast {

}

#lunch {}


#dinner {} */