

:root {
    --dark-blue: #3380FF;
    --light-blue: #6fa8dc;
    --dark-red: #FF4933;
    --light-red: #e06666;
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
}


.warm{
    --primary: var(--dark-red);
    --secondary: var(--light-red)
}


.cool {
    --primary: var(--light-blue);
    --secondary: var(--dark-blue);
}


#all{
    color: var(--primary);
}

